* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(250, 187, 92);
    font-family: neonoir, sans-serif;
    font-weight: 200;
    font-style: normal;
    overflow: hidden;
    /* background: url(2.svg); */
}

.lyrics{
    font-size: 50px;
    
    
    color: rgb(105, 23, 23);
}


/* animation section */
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    

    animation: dash 4s linear alternate infinite;
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  } 