* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: url('cursorbread.png'),pointer;

}

body{
    background-color: #FFDFA1;
    overflow: hidden;
    
}
h1{
position: absolute;
left: 55%;
font-family: 'Nunito', sans-serif;
top:3%;
font-size: 96px;
color: #FF9E44;
text-shadow: 1px 1px rgb(243, 255, 131), -2px -2px rgb(214, 66, 21);

}

.longTitles{
  left: 45%;
}

.textBox{
    position: absolute;
    width: 490px;
    height: 118.83px;
    left: 15%;
    top: 4%;
    z-index: 0;
}


#bread1{
    position: absolute;
    width: 175px;
    height: 174px;
    left: 2%;
    top: 5%;
    
    animation: breadIcon 0.5s linear 0s 1;
    animation-play-state:paused;
}
#bread1:hover{
  cursor: url("cursorbreadhover.png"),pointer;
}
#bread2{
    position: absolute;
    width: 175px;
    height: 174px;
    left: 2%;
    top: 5%;
   
    display:none;
    animation: breadIcon 0.5s linear 0s 1;
    animation-play-state:paused;
}
#bread2:hover{
  cursor: url("cursorbreadhover.png"),pointer;
}
.buttons{
font-family: pixelated;
font-size: 18px;
text-shadow: 0px 4px 4px rgba(233, 73, 73, 0.25);
display:none;
}
a{
  color: #FF9E44;
}
a:hover{
  color: #7c2300;
}
#homeButton{
    width: 57px;
    position: absolute;
    left: 17%;
    top: 7%;
    z-index: 1;
}

#aboutButton{ 
    width: 63px;
    position: absolute;
    left: 22.5%;
    top: 7%;
    z-index: 1;
    
}
#workButton{ 
    width: 57px;
    position: absolute;
    left: 28.5%;
    top: 7%;
    z-index: 1;
}
#contactButton{ 
    width: 90px;
    position: absolute;
    left:34%;
    top: 7%;
    z-index: 1;
}

@keyframes breadIcon {
    50%{
        
        transform: scale(1.2);
        transform: translateY(-10px);
    }
}
/* panel */
.panelDiv{
  position: absolute;
  width:30%;
  height:70%;
  top:20%;
  left:55%;
  background-image: url(panel.png);
  background-size: cover; 
  background-position: center;
}
h3{
  font-family: 'Pacifico', cursive;
  color: rgb(255, 141, 34);
  font-weight: normal;
  font-size: 40px;

}
h4{
  font-family: pixelated;
  text-transform: uppercase;
  color: rgb(160, 45, 0);
  position:relative;
  top:6px;
}
.panelTextnButtons{
  position:relative;
  top:20%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.panelButtons{
width: 117px;
height: 32px;
margin:10px;
text-align: center;
background: #fcb54c;
border-radius: 50px;
}

.panelButtons:hover{
  background: #d6691f;
  cursor: url("cursorbreadhover.png"),pointer;
}

/* fonts */
@font-face {
    font-family: pixelated;
    src: url(fonts/pixelated.ttf);
  }
  
 

/* slider button  */
  .switch {
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 80px;
    left:85%;
    top:5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff9933;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:hover{
    cursor: url("cursorbreadhover.png"),pointer;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3d2002;
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* dark mode */
.darkMode{
   -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(85, 34, 14);
}



/* bread animated section */
#breadHouse {
  
  position: absolute;
  width: 657px;
  height: 694px;
  left: 8%;
  top: 25%;
  z-index: -1000;
  /* animation: breadIcon 200ms linear 0s 1;
  animation-play-state:paused; */
}
#breadHouse:hover{
  cursor: url("cursorbreadhover.png"),pointer;
}
.breadhouseButton{
  animation: breadIcon 150ms linear 0s 1 running;
}

/* walking bread */
.walkingBread{
  width: 300px;
  height: auto;
  position:absolute;
  top:52%;
  left:15%;
  
}
.walkingAnimate{
  animation: breadWalk 1.5s linear 0s 1 forwards running;
    
}

@keyframes breadWalk {
  0%{
    opacity: 0%;}
  10%{
    opacity:100% ;}
 100%{
  
  top:90%;
  left:-10%;
  }
}



/* ABOUT SECTION */
.svgs {
  position: absolute;
  width: 50vw;
  height: auto;
  bottom: 0;
  transform: scaleX(-1) translate(20%,10%);
  stroke: #3d2002;
 opacity: 0.3;
  z-index:-2;
  
}

.path1 {
  position: absolute;
  
  z-index: -2;
  stroke-dasharray: 500;
      stroke-dashoffset: 800;
      animation: dash 5s linear alternate-reverse infinite;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  } 

.aboutText{
  position:absolute;
  left:45%;
  top:30%;
  font-family: louvette-banner, serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  color: #c95a00;
  width: 50%;
  animation: aboutTextAni 2s ease-in-out 0s;
}

@keyframes aboutTextAni{
 from{
    left:110%;
    opacity: 0;
  }
  to{
    left:45%;
    opacity: 1;
  }
}
.aboutGifs1{
  cursor: url("cursorbreadhover.png"),pointer;
 position: absolute;
 top:130%; 
 left:40%;
 width:20%;
 height: auto;
}
.aboutGifs2{
  cursor: url("cursorbreadhover.png"),pointer;
  position: absolute;
  top:130%; 
  left:60%;
  width:20%;
 height: auto;
 }
 .aboutGifs3{
  cursor: url("cursorbreadhover.png"),pointer;
  position: absolute;
  top:130%; 
  left:80%;
  width:20%;
 height: auto;
 }
.imgDesc{
  font-family: louvette-banner, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #c95a00;
  position: absolute;
  display:none;
  top:135%;
}
.imageDesc1{
  
  position: absolute;

 left:47%;
 
}
.imageDesc2{
  position: absolute;

 left:65%;

}
.imageDesc3{
  position: absolute;

 left:85%;
 
}
.crackEgg{
position: absolute;
top:25%; 
width:30%;
left:10%;
height: auto;
z-index: 1;

}
.crackEgg2{
  position: absolute;
  top:80%; 
  width:30%;
  left:10%;
  height: auto;
  display: none;
  z-index: 1;
  }
.eggBowl{
  position: absolute;
  top:110%;  
  left:5%;
  width:40%;
  height: auto;
  z-index: -1;

}
.eggBowl2{
  position: absolute;
  top:110%;  
  left:5%;
  width:40%;
  height: auto;
  display: none;
  z-index: -1;
}
.bunRecipe{
  top:55%;
  position: absolute;
  right:10%;
  width:40%;
  height: auto ;
  background: #fff0c8;
  border-radius: 50px;
  padding: 80px;
  display: none;
 
}
.recipeTitle{
  font-family: louvette-banner, serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}
.recipeText{
  font-family: louvette-banner, serif;
  font-weight: 500;
  font-style: normal;
  font-size: x-large;
  color: #c95a00;
}
.clickPrompt{
  position: absolute;
  top:160%; 
  left:66%;
  
}
/* CONTACTS PAGE */
.chefBread {
  transform: scale(1.5);
    z-index: -1;
    position: absolute;
    
    left: 58%;
    top: 35%;
    animation: chefBreadAni 1s ease-in 0s;
}
@keyframes chefBreadAni {
  from{
    top:100%;
  }
  to{
    top: 35%;
  }
}

/* WORKS PAGE */

.yesScroll{
  overflow-y: scroll;
}
#squares{
  height:100vh;
  width:100vw;
  position:fixed;
  top:0;
  z-index: -2000;
}
span{
  position:absolute;
  pointer-events: none;
  background-color: #c95a00;
  z-index: -1001;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform:scale(0) translateY(0) rotate(0deg);
    opacity: 0;

  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  100%{
    transform:scale(1) translateY(-500%) rotate(360deg);
    opacity: 1;
  }
}
.artButtons{
  font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 18px;

}

.founButton{
  position: absolute;
left: 15%;
top: 73%;
}

.portButton{
  position: absolute;
    left: 45%;
    top: 73%;
}
.otherButton{
  position: absolute;
  left: 75%;
  top: 73%;
}

#foun1{
  position: absolute;
  left: 9%;
  top: 35%;
}
#port1{
  position: absolute;
  left: 38%;
  top: 35%;
}
#other1{  

position: absolute;
left: 67%;
top:35%;
}

#foun2{
  position: absolute;
  left: 9%;
  top: 35%;
  display:none;
}
#port2{
  position: absolute;
  left: 38%;
  top: 35%;
  display:none;
}
#other2{  

position: absolute;
left: 67%;
top:35%;
display:none;
}


/* foundations page */

#worksSideButtonsF {
  position: absolute;
  left: 3%;
  top:55%;
  font-size: 15px;
  
}
#worksSideButtonsP {
  position: absolute;
  left: 3.5%;
  top:75%;
  font-size: 15px;
}
#worksSideButtonsO {
  position: absolute;
  left: 4.5%;
  top:95%;
  font-size: 15px;
}

#foun1.smallWorkIconsF {
  position: absolute;
  left: 1%;
  top:38%;
  width: 10%;
  height: auto;
  
}
#foun2.smallWorkIconsF {
  position: absolute;
  left: 1%;
  top:38%;
  width: 10%;
  height: auto;
}
#port1.smallWorkIconsP {
  position: absolute;
  left: 1%;
  top:58%;
  width: 10%;
  height: auto;
  
}
#port2.smallWorkIconsP {
  position: absolute;
  left: 1%;
  top:58%;
  width: 10%;
  height: auto;
}
#other1.smallWorkIconsO {
  position: absolute;
  left: 1%;
  top:78%;
  width: 10%;
  height: auto;
  
}
#other2.smallWorkIconsO {
  position: absolute;
  left: 1%;
  top:78%;
  width: 10%;
  height: auto;
}



/* ---- grid ---- */
/* .frame{
  position: absolute;
width: 83%;
height: 420vh;
left: 13%;
top: 20%;
  border: 5px solid #ffb340;
  
  filter: drop-shadow(13px 22px 4px rgba(124, 68, 5, 0.25));

} */
.main{
  position: absolute;
  width: 80%;
  left:15%;
  z-index: -2;
  top:0;

  
}
.main .gallery{
  position: relative;
 
  margin:auto;
  padding:15% 0;
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow:dense;
  
}
.main .gallery .img{
  position: relative;
  height:100%;
  width:100%;
  overflow:hidden;
}
.main .gallery .img:first-child{
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.main .gallery .img:nth-child(2n+3){
  grid-row-start: span 2;
}
.main .gallery .img:nth-child(4n+5){
  grid-row-start: span 1;
  grid-column-start: span 2;
}
.main .gallery .img:nth-child(6n+7){
  grid-row-start: span 5;
  
}
.main .gallery .img:nth-child(8n+9){
  grid-row-start: span 1;
  grid-column-start: span 3;
  
}
.main .gallery .img:nth-child(2n+15){
  grid-row-start: span 2;
  grid-column-start: span 2;
  
}
.main .gallery .img:nth-child(2n+13){
  grid-row-start: span 1;
  grid-column-start: span 1;
  
}
.main .gallery .img img{
 
  height:100%;
  width:100%;
  object-fit: cover;
}


/* contact page */
h5{
  font-family: Pixelated;
  font-size: 60px;
  position: absolute;
  top:25%;
  left:15%;
  color:#d6691f;
}
input[type=text] {

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid  #d6691f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 25px;
  background-color:  #d6691f;
}

input[type=text]:focus {
  background-color: #ffa835e5;
  border: 3px solid rgb(233, 92, 11);
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  
  font-family: Pixelated;
  color:  #d6691f;

}
form{
  position:absolute;
  top:35%;
  left:15%;
 
}
::placeholder{
  font-family: Pixelated;
  color:#7c2300;
}
input[type=submit] {
  background-color:  #d6691f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: url(cursorbreadhover.png),pointer;
  position: absolute;
  top:65%;
  left:40%;
  font-family: Nunito;
}

input[type=submit]:hover {
  background-color: #83430f;
}

@media screen and (max-width: 768px) {
  label, .message  {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit]{
  top:75%;
  }
  #homeButton{
   
    left: 20%;
   
    
}

#aboutButton{ 
    
    left: 33%;
  
    
}
#workButton{ 
   
    left: 48%;
   
}
#contactButton{ 
   
    left:60%;
   
}

h1{
  left:60%;
  top:15%;
  font-size: 50px;
}
.switch{
  left:79%;
}
.chefBread {
  top:60%;
  left:35%;
  transform: scale(1.1);
}








}