* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFDFA1;
    overflow: hidden;
}

h1{
position: absolute;
left: 55%;
font-family: 'Nunito', sans-serif;
top:3%;
font-size: 96px;
color: #FF9E44;
text-shadow: 1px 1px rgb(243, 255, 131), -2px -2px rgb(214, 66, 21);


}


.textBox{
    position: absolute;
    width: 490px;
    height: 118.83px;
    left: 15%;
    top: 4%;
    z-index: 0;
}

#bread1{
    position: absolute;
    width: 175px;
    height: 174px;
    left: 2%;
    top: 5%;
    cursor: pointer;
    animation: breadIcon 0.5s linear 0s 1;
    animation-play-state:paused;
}
#bread2{
    position: absolute;
    width: 175px;
    height: 174px;
    left: 2%;
    top: 5%;
    cursor: pointer;
    display:none;
    animation: breadIcon 0.5s linear 0s 1;
    animation-play-state:paused;
}

.buttons{
font-family: pixelated;
font-size: 18px;
text-shadow: 0px 4px 4px rgba(233, 73, 73, 0.25);
display:none;
}
a{
  color: #FF9E44;
}
a:hover{
  color: #7c2300;
}
#homeButton{
    width: 57px;
    position: absolute;
    left: 17%;
    top: 7%;
    z-index: 1;
}

#aboutButton{ 
    width: 63px;
    position: absolute;
    left: 22.5%;
    top: 7%;
    z-index: 1;
    
}
#workButton{ 
    width: 57px;
    position: absolute;
    left: 28.5%;
    top: 7%;
    z-index: 1;
}
#contactButton{ 
    width: 90px;
    position: absolute;
    left:34%;
    top: 7%;
    z-index: 1;
}

@keyframes breadIcon {
    50%{
        
        transform: scale(1.2);
        transform: translateY(-10px);
    }
}






/* fonts */
@font-face {
    font-family: pixelated;
    src: url(fonts/pixelated.ttf);
  }
  
 

/* slider button  */
  .switch {
    position: absolute;
    display: inline-block;
    width: 160px;
    height: 80px;
    left:80%;
    top:5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff9933;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 65px;
    width: 65px;
    left: 8px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3d2002;
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(75px);
    -ms-transform: translateX(75px);
    transform: translateX(75px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
    
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* dark mode */
.darkMode{
    transition:background-color 0.3s ease-in-out;
    background-color: #63370b;
}



/* bread animated section */
#breadHouse {
  cursor: pointer;
  position: absolute;
  width: 657px;
  height: 694px;
  left: 8%;
  top: 25%;
  z-index: -1000;
  /* animation: breadIcon 200ms linear 0s 1;
  animation-play-state:paused; */
}
.breadhouseButton{
  animation: breadIcon 150ms linear 0s 1 running;
}

/* walking bread */
.walkingBread{
  width: 300px;
  height: auto;
  position:absolute;
  top:52%;
  left:15%;
  
}
.walkingAnimate{
  animation: breadWalk 1.5s linear 0s 1 forwards running;
    
}

@keyframes breadWalk {
  0%{
    opacity: 0%;}
  10%{
    opacity:100% ;}
 100%{
  
  top:90%;
  left:-10%;
  }
}



/* ABOUT SECTION */
.svgs {
  
  width: 90vw;
  height: auto;
  transform: scaleX(-1) translate(20%,10%);
  stroke: #3d2002;
  
}

.path1 {
  position: absolute;
  
  z-index: -2;
  stroke-dasharray: 500;
      stroke-dashoffset: 800;
      animation: dash 5s linear alternate-reverse infinite;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  } 