    body {

        background-color:teal ;
        font-family: bufalino,sans-serif;
        font-size: 25px;
        margin:auto;
        width: 800px;
    }

    
    h1{
        font-family: brim-narrow-combined-1, sans-serif;
        font-weight: 400;
        font-style: normal;
        padding: 50px 100px;
        border: 10px solid beige;
        border-radius: 100px;
       background-color: beige;
        text-align: center;
        color:tomato;
    }
    h2{
        font-weight: 700;
        color: white;
        text-transform: capitalize;
        font-style:italic;
        }
        
   .para,p {
        font-family: 'Times New Roman', Times, serif;
        background-color: beige;
        border:50px solid beige;
        border-radius: 50px;
        
    }
    ul {
        color:white;
        font-size: 30px;
        
    }