* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(151, 0, 0);
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   max-width:2000px;
   margin: 0 auto; 
}
p {
    text-transform: uppercase;
    font-size: 200px;
    width:100%;
    text-align: center;
    color: white;
    font-weight: 700;
    
    
}

h2 {
    
    
    color: rgb(255, 87, 87);
    font-size: 100px;
    text-transform: uppercase;
    top: 50%;
    position:absolute;
    width: 100%;
    animation: constant 4s linear infinite;
    animation-play-state: paused;

    white-space: nowrap;
    text-overflow: ellipsis; 
}

h2:hover{
    animation-play-state:running;
}

h1 {
    
    color: rgb(255, 252, 100);
    text-transform: uppercase;
    font-size:100px;
    position: absolute; 
    bottom: 30px;
    animation: constant 5s linear 0s infinite;
    display:inline-block;

    white-space: nowrap;
    text-overflow: ellipsis; 
}

.always{
    animation: constant 4s linear 0s infinite;
}

.inital{
    animation: keeplooping 4s linear 4s infinite;
    
}

@keyframes constant {
    0% {
        
        transform: translateX(-5000px);
    }
    100% {
        transform: translateX(2000px);
    }

}

@keyframes keeplooping {
    
    0% {
        
        transform: translateX(-5000px);
    }
    100% {
        transform: translateX(2000px);
    }
}

